.password-container {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#password {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

#togglePassword {
    float: right;
    margin-top: 0;
    padding: 4px 8px;
    background-color: #00c026;
    color: #fff;
    border: none;    
    border-radius: 5px;
    cursor: pointer;
}
